
.planets-info{
    display: grid;
    height: 60vh;
    margin-bottom: 50px;
    background-image: linear-gradient(to right bottom,rgba(44, 44, 44, 0.74), rgba(128, 128, 128, 0.61)), url(../images/planets/earth.jpg);
    background-size: cover;
    background-blend-mode: hue;
    background-position: center;
    &-heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        &-primary{
            display: block;
            font-size: 2em;
            letter-spacing: 22px;
            animation-name: moveInLeft;
            animation-duration: 3s;
        }
        &-primary-sub{
            display: block;
            font-size: 1em;
            animation-name: moveInRight;
            animation-duration: 3s;
        }
    }
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.planets-container{
    margin: 0;
    margin-right: 10%;
    margin-left: 10%;
}

.planets-grid{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

@media(max-width: 420px){
    .planets-grid{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
    }
}