.planet-card{
    perspective: 150rem;
    position: relative;
    height: 300px;

    &-side{
        background-color: orangered;
        height: 300px;
        width: 100%;
        margin: 0;
        transition: all 1s ease;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
    }
    &-front{
        background-color: orangered;
        &-1{ background-color: orangered; }
        &-2{ background-color:#c07f06; }
        &-3{ background-color: #37b5dfc9; }
    }
    &-back{
        background-color: navy;
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &:hover &-front{
        cursor: pointer;
        transform: rotateY(-180deg);
    }

    &:hover &-back{
        cursor: pointer;
        transform: rotateY(0);
    }

    //front side styles
    &-heading{
        text-transform: uppercase;
        background-image: linear-gradient(to right bottom,#000, gray);
        color: #fff;
        padding: 10px;
        position: absolute;
        top: 7rem;
        right: 2rem;
        text-align: right;
    }

    &-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 100%;
        margin: 25px 30%;
        list-style-type: none;
    }

    &-picture{
        padding: 0;
        margin: 0;
        background-size: cover;
        background-position: center;
        height: 10rem;
        
        &-pic-1{
            background-image: linear-gradient(orangered, gray),url(../images/planets/mercury.jpg);
            background-blend-mode: screen;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }
        &-pic-2{
            background-image: linear-gradient(#c07f06, gray),url(../images/planets/venus.jpg);
            background-blend-mode: screen;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }
        &-pic-3{
            background-image: linear-gradient(#b5dfc9, gray),url(../images/planets/earth.jpg);
            background-blend-mode: screen;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }
    }

    // Back styles
    &-back-heading{
        background-image: linear-gradient(to right bottom, blue, gray);
        color: #fff;
        padding: 10px 0;
        text-align: center;
        margin: 0;
        width: 100%;
    }

    &-back-details{
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 10px;
    }
}