.button-modal{
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #b6b3b3;
    color: #000;
    margin: 10% auto;
    /* padding: 20px; */
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.2);
    animation-name: modalopen;
    animation-duration: 1s;
}

.close-modal {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.close-modal:hover, .close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header{
    background-color: #333;
    text-align: center;
    color: #000;
}

.modal-body{
    padding: 10px 20px;
}

.modal-footer{
    background-color: #333;
    text-align: center;
    color: #000;
}

@keyframes modalopen{
    from{opacity: 0;}
    to{opacity: 1;}
}