.navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 80px;
    width: 100%;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    & h1{
        padding: 10px;
        & a{
            text-decoration: none;
            color: #fff;
        }
    }
    & ul{
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
        & li {
            display: inline-block;
            padding: 30px;
            &:hover{
                background-color: gray;
            }
            & a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

@media(max-width: 650px){
    .navbar ul{
        display: none;
    }
}

.mobile_navbar {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background-color: #777;
    width: 60%;
    height: 100vh;

    & h1{
        background-image: linear-gradient(to right bottom, darksalmon,red);
        padding: 20px;
        margin-top: 0;
        text-transform: uppercase;
        text-align: center;
        animation: rotator 1s linear;
        
        & a{
            color: #fff;
            text-decoration: none;

            &:hover, &:focus{
                text-decoration: underline;
            }
        }
    }
    & ul{
        width: 100%;
        height: 100%;
        list-style: none;
        margin: 0;
        padding-left: 0;
        text-align: center;
        & li{
            font-size: 1.5rem;
            padding: 10px;
            animation: comesFromDown .5s ease-in;
            &:hover, &:focus {
                text-decoration: underline;
                text-decoration-color: #fff;
                opacity: 0.6;
                background-color: rgb(94, 93, 93);
            }
            & a {
                text-decoration: none;
                color:  #fff;
                opacity: 1;
            }
        }
    }
}

.mobile-nav-header{
    background-color: #000;
    color:  #fff;
    padding: 10px;
    text-align: center;
    margin: 0;
}

.toggle-button{
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-bottom: 0;
    padding-top: 10px;
    vertical-align: middle;
}

.toggle-button:focus{
    outline: none;
}

.toggle-button-bar{
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
    display: block;
    margin: 0.6rem 0;
}

@media(min-width: 650px) {
    .toggle-button{
        display: none;
    }
}
