.about-contrib{
    display: flex;
    flex-direction: column;
    align-items: center;

    & h3{
        text-align: center;
    }

    & a{
        color: #fff;
        & i{
            animation: rotator 1s linear;
            &:hover, &:focus{
                animation: rotatorY 1s linear;
            }
        }
        &:hover{
            text-decoration: line-through;
        }
    }
}