html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(#555, #000);
  color: #fff; }

.invisible {
  display: none; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 80px;
  width: 100%;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase; }
.navbar h1 {
  padding: 10px; }
.navbar h1 a {
  text-decoration: none;
  color: #fff; }
.navbar ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0; }
.navbar ul li {
  display: inline-block;
  padding: 30px; }
.navbar ul li:hover {
  background-color: gray; }
.navbar ul li a {
  text-decoration: none;
  color: #fff; }

@media (max-width: 650px) {
  .navbar ul {
    display: none; } }
.mobile_navbar {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: #b8b8b8;
  width: 60%;
  height: 100vh; }
.mobile_navbar ul {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  text-align: center; }
.mobile_navbar ul li {
  font-size: 1.5rem;
  padding: 10px; }
.mobile_navbar ul li:hover, .mobile_navbar ul li:focus {
  text-decoration: underline;
  text-decoration-color: #fff;
  opacity: 0.6;
  background-color: gray; }
.mobile_navbar ul li a {
  text-decoration: none;
  color: #001;
  opacity: 1; }

.mobile-nav-header {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin: 0; }

.toggle-button {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-bottom: 0;
  padding-top: 10px;
  vertical-align: middle; }

.toggle-button:focus {
  outline: none; }

.toggle-button-bar {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  display: block;
  margin: 0.6rem 0; }

@media (min-width: 650px) {
  .toggle-button {
    display: none; } }
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.button-modal {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 1.1rem; }
.button-modal:hover {
  text-decoration: underline;
  cursor: pointer; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); }

.modal-content {
  background-color: #b6b3b3;
  color: #000;
  margin: 10% auto;
  /* padding: 20px; */
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  animation-name: modalopen;
  animation-duration: 1s; }

.close-modal {
  color: #ccc;
  float: right;
  font-size: 30px; }

.close-modal:hover, .close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.modal-header {
  background-color: #333;
  text-align: center;
  color: #000; }

.modal-body {
  padding: 10px 20px; }

.modal-footer {
  background-color: #333;
  text-align: center;
  color: #000; }

@keyframes modalopen {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#home {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 80% 10%; }

#home-main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.sun-home {
  position: absolute;
  background-image: radial-gradient(circle, #f8d300, #ffb42a, #ff3d3d, #fff);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation-name: sunshine;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@keyframes sunshine {
  0% {
    filter: brightness(1); }
  25% {
    filter: brightness(1.2); }
  50% {
    filter: brightness(1.5); }
  75% {
    filter: brightness(1.2); }
  100% {
    filter: brightness(1); } }
.mercury-home, .venus-home, .earth-home, .mars-home, .jupiter-home, .saturn-home, .uranus-home, .neptune-home {
  background-image: radial-gradient(circle, #aa735e 90%, #a77210);
  width: 15px;
  height: 15px;
  border-radius: 50%; }

.lines {
  height: 100%;
  width: 100%; }
.lines h3 {
  display: none; }

.mercury-home {
  width: 5px;
  height: 5px;
  position: absolute;
  top: 65%; }

.line_mercury {
  border: oldlace 1px solid;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  animation-name: mercury-line;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
.line_mercury h4 {
  display: none; }

@keyframes mercury-line {
  100% {
    transform: rotate(360deg); } }
.venus-home {
  background-image: radial-gradient(circle, #b45656 90%, #49340c);
  position: absolute;
  width: 7px;
  height: 7px;
  top: 70%; }

.line_venus {
  border: oldlace 1px solid;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: absolute;
  animation-name: venus-line;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
.line_venus h4 {
  display: none; }

@keyframes venus-line {
  100% {
    transform: rotate(360deg); } }
.earth-home {
  background-image: radial-gradient(circle, #79c0fa, #91f16a);
  position: absolute;
  width: 10px;
  height: 10px;
  top: 65%; }

.line_earth {
  border: oldlace 1px solid;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: absolute;
  animation-name: earth-line;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
.line_earth h4 {
  display: none; }

@keyframes earth-line {
  100% {
    transform: rotate(360deg); } }
.mars-home {
  background-image: radial-gradient(circle, #6e0202, #a77210);
  position: absolute;
  width: 8px;
  height: 8px;
  top: 65%; }

.line_mars {
  border: oldlace 1px solid;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  position: absolute;
  animation-name: mars-line;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
.line_mars h4 {
  display: none; }

@keyframes mars-line {
  100% {
    transform: rotate(360deg); } }
.jupiter-home {
  background-image: radial-gradient(circle, #aa735e, #e2672d, #fff);
  position: absolute;
  width: 25px;
  height: 25px;
  top: 65%; }

.line_jupiter {
  border: oldlace 1px solid;
  border-radius: 50%;
  width: 270px;
  height: 270px;
  position: absolute;
  animation-name: jupiter-line;
  animation-duration: 22s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
.line_jupiter h4 {
  display: none; }

@keyframes jupiter-line {
  100% {
    transform: rotate(360deg); } }
.saturn-home {
  background-image: radial-gradient(circle, #fdc2a7, #b4eef8);
  position: absolute;
  width: 17px;
  height: 17px;
  top: 65%; }

.line_saturn {
  border: oldlace 1px solid;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  position: absolute;
  animation-name: saturn-line;
  animation-duration: 28s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
.line_saturn h4 {
  display: none; }

@keyframes saturn-line {
  100% {
    transform: rotate(360deg); } }
.uranus-home {
  background-image: radial-gradient(circle, #53f1f1, #97e9fd, #093577);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 62%; }

.line_uranus {
  border: oldlace 1px solid;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  position: absolute;
  animation-name: uranus-line;
  animation-duration: 34s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
.line_uranus h4 {
  display: none; }

@keyframes uranus-line {
  100% {
    transform: rotate(360deg); } }
.neptune-home {
  background-image: radial-gradient(circle, #144897, #59d6ec);
  position: absolute;
  width: 14px;
  height: 14px;
  top: 60%; }

.line_neptune {
  border: oldlace 1px solid;
  border-radius: 50%;
  width: 520px;
  height: 520px;
  position: absolute;
  animation-name: neptune-line;
  animation-duration: 38s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
.line_neptune h4 {
  display: none; }

@keyframes neptune-line {
  100% {
    transform: rotate(360deg); } }
.planets-info {
  display: grid;
  height: 60vh;
  margin-bottom: 50px;
  background-image: linear-gradient(to right bottom, rgba(44, 44, 44, 0.74), rgba(128, 128, 128, 0.61)), url(../images/planets/earth.jpg);
  background-size: cover;
  background-blend-mode: hue;
  background-position: center; }
.planets-info-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase; }
.planets-info-heading-primary {
  display: block;
  font-size: 2em;
  letter-spacing: 22px;
  animation-name: moveInLeft;
  animation-duration: 3s; }
.planets-info-heading-primary-sub {
  display: block;
  font-size: 1em;
  animation-name: moveInRight;
  animation-duration: 3s; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.planets-container {
  margin: 0;
  margin-right: 10%;
  margin-left: 10%; }

.planets-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr); }

@media (max-width: 420px) {
  .planets-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr; } }
.planet-card {
  perspective: 150rem;
  position: relative;
  height: 300px; }
.planet-card-side {
  background-color: orangered;
  height: 300px;
  width: 100%;
  margin: 0;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden; }
.planet-card-front {
  background-color: orangered; }
.planet-card-front-1 {
  background-color: orangered; }
.planet-card-front-2 {
  background-color: #c07f06; }
.planet-card-front-3 {
  background-color: #37b5dfc9; }
.planet-card-back {
  background-color: navy;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center; }
.planet-card:hover .planet-card-front {
  cursor: pointer;
  transform: rotateY(-180deg); }
.planet-card:hover .planet-card-back {
  cursor: pointer;
  transform: rotateY(0); }
.planet-card-heading {
  text-transform: uppercase;
  background-image: linear-gradient(to right bottom, #000, gray);
  color: #fff;
  padding: 10px;
  position: absolute;
  top: 7rem;
  right: 2rem;
  text-align: right; }
.planet-card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 100%;
  margin: 25px 30%;
  list-style-type: none; }
.planet-card-picture {
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  height: 10rem; }
.planet-card-picture-pic-1 {
  background-image: linear-gradient(orangered, gray), url(../images/planets/mercury.jpg);
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
.planet-card-picture-pic-2 {
  background-image: linear-gradient(#c07f06, gray), url(../images/planets/venus.jpg);
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
.planet-card-picture-pic-3 {
  background-image: linear-gradient(#b5dfc9, gray), url(../images/planets/earth.jpg);
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
.planet-card-back-heading {
  background-image: linear-gradient(to right bottom, blue, gray);
  color: #fff;
  padding: 10px 0;
  text-align: center;
  margin: 0;
  width: 100%; }
.planet-card-back-details {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px; }

.gallery-container {
  margin: 10px 10px; }
.gallery-container h1 {
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(to right bottom, darksalmon, red);
  padding: 30px;
  border-radius: 15px;
  width: fit-content;
  margin: 0 auto;
  animation-name: animateHeading;
  animation-duration: 3s; }

.gallery-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr 1fr;
  height: 90%; }

.menu-1 {
  grid-column: 1/2; }

.menu-2 {
  grid-column: 3/4; }

.img-viewer {
  grid-column: 2/3;
  grid-row: 1; }

@keyframes animateHeading {
  100% {
    transform: rotateY(360deg); } }
.img-viewer {
  border: 1px solid #fff;
  height: 70%;
  width: 70%;
  margin: auto;
  animation-name: viewerAnimation;
  animation-duration: 3s;
  animation-timing-function: linear; }
.img-viewer img {
  height: 100%;
  width: 100%; }

@media (max-width: 850px) {
  .img-viewer {
    border: 1px solid #fff;
    height: 70%;
    margin: auto; }
  .img-viewer img {
    height: 100%;
    width: 100%; } }
@keyframes viewerAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.menu-1, .menu-2 {
  background-color: #4e4e4e;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: comesFromAbove;
  animation-duration: 3s; }
.menu-1 p, .menu-2 p {
  border: 1px solid #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer; }
.menu-1 p img, .menu-2 p img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px; }

.menu-1 p {
  animation-name: comesFromLeft;
  animation-duration: 3s; }

.menu-2 p {
  animation-name: comesFromRight;
  animation-duration: 3s; }

@keyframes comesFromAbove {
  0% {
    opacity: 0;
    transform: translateY(-150px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes comesFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes comesFromRight {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.about-container {
  margin: 10px 10%; }

.about-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr); }

.about-card {
  display: flex;
  flex-direction: column;
  background-color: #484848;
  align-items: center; }
.about-card img {
  height: 80px;
  width: 80px;
  margin-top: 15px;
  border-radius: 50%; }
.about-card h3 {
  text-transform: uppercase; }
.about-card p {
  margin: 0;
  margin-bottom: 10px;
  padding: 10px; }
.about-card p a {
  color: #fff;
  padding: 20px;
  border-radius: 35px;
  text-decoration: none;
  background-color: #272727; }
.about-card p a:hover {
  text-decoration: underline; }

.about-contrib {
  display: flex;
  flex-direction: column;
  align-items: center; }
.about-contrib h3 {
  text-align: center; }
.about-contrib a {
  color: #fff; }
.about-contrib a:hover {
  text-decoration: line-through; }

.about-contact {
  display: flex;
  flex-direction: column;
  align-items: center; }
.about-contact h3 {
  margin: 10px;
  text-transform: uppercase; }
.about-contact form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%; }
.about-contact form input, .about-contact form textarea {
  display: block;
  padding: 8px;
  margin: 5px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff; }
.about-contact form input:focus, .about-contact form textarea:focus {
  border: none;
  border-bottom: 1px solid #fff;
  outline: none; }

.about-info {
  background-color: rgba(72, 72, 72, 0.507); }
.about-info h1 {
  text-transform: uppercase;
  text-align: center; }
.about-info p {
  padding: 10px;
  text-align: justify;
  margin: 0 50px; }

.pathfinders-container {
  margin: 0 10%; }

.pathfinders-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto; }

.pathfinders-1, .pathfinders-2, .pathfinders-3, .pathfinders-4 {
  border: 1px solid #fff;
  height: 150px;
  background-image: radial-gradient(circle, #000, gray, #000); }
.pathfinders-1 h4, .pathfinders-2 h4, .pathfinders-3 h4, .pathfinders-4 h4 {
  text-transform: uppercase;
  padding: 10px;
  margin: 0; }
.pathfinders-1 p, .pathfinders-2 p, .pathfinders-3 p, .pathfinders-4 p {
  margin: 0;
  padding: 5px; }

.pathfinders-1, .pathfinders-3 {
  animation-name: textMoveRight;
  animation-duration: 1s;
  animation-timing-function: linear; }

.pathfinders-2, .pathfinders-4 {
  animation-name: textMoveLeft;
  animation-duration: 1s;
  animation-timing-function: linear; }

.pathfinders-1 {
  grid-column: 1/2; }

.pathfinders-2 {
  grid-column: 2/3; }

.pathfinders-3 {
  grid-column: 1/2; }

.pathfinders-4 {
  grid-column: 2/3; }

.pathfinders-footer {
  grid-column: 1/-1; }

@keyframes textMoveRight {
  0% {
    opacity: 0;
    transform: translateX(-300px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes textMoveLeft {
  0% {
    opacity: 0;
    transform: translateX(300px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.pathfinders-info {
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
  height: 400px;
  border: 1px solid #fff;
  border-radius: 3px;
  background-image: linear-gradient(rgba(255, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/planets/jupiter.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: hue; }
.pathfinders-info h1 {
  text-transform: uppercase;
  margin: 10px 0;
  text-align: center; }
.pathfinders-info p {
  padding: 0px;
  margin: 5px 50px;
  text-align: justify; }

/*# sourceMappingURL=styles.css.map */
